<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>HairColorRing</title>
		<link rel="stylesheet" href="/assets/css/index.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Kiwi+Maru:wght@300;400;500&family=Ranchers&display=swap" rel="stylesheet">
        <link rel="icon" href="/assets/img/favicon.png" type="image/x-icon">
        <script src="/assets/js/fileUpload.js" defer></script>
	<body>
		<%= erb :'nav' %>
		<main>
			<%= yield %>
		</main>
	</body>
</html>
